/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@1,200&display=swap'); */

*{
    margin: 0;
    padding: 0;
    /* font-family: "sans-serif", Poppins; */
    font-size: 13px;
}

body{
    width: 100%;
    height: 100vh;
}
.container{
    width: 70%;
    height: 100%;
    /* background-color: red; */
    margin: auto;
    padding-top: 10px;
}
.container .section-1{
    display: flex;
    flex-direction: row;
    width: 90% ;
    height: 15px;
    margin: auto;
    background-color: #fafafa;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);;
}
.container .section-1 .part-1{
    width: 10%;
    height: 100%;
    
}
.container .section-1 .part-2{
    width: 20%;
    height: 100%;
    color: #2a576f;

} 
.container .section-1 .part-1 select{
    border: none;
    background-color: #fafafa;
    color: #2a576f;
}
.container .section-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 20px;
    border-bottom: 1px solid grey;
}
.container .section-2 .part-1 {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.container .section-2 .part-1 img{
    width: 25%;
    height: 85%;
}
.container .section-2 .part-1 .definition{
    vertical-align: middle;
    white-space: nowrap;
    
}
.container .section-2 .part-2 input {
    padding: 0px 25px 0px 25px ;
    margin-right: 5px;
    background: linear-gradient(to top, #cdcdcd, #f7f7f7);
    border: 1px solid #727272;
    border-radius: 3px;
}
.container .section-3{
    width: 90%;
    margin: auto;
}
.container .section-3 .part-1 table colgroup .col-1,
.container .section-3 .part-1 table colgroup .col-2{
    width: 90px;
}
.container .section-3 .part-1 table tbody tr td .cellText{
    font-weight: bold;
}
.container .section-3 .part-1 table tbody tr td .customer{
    width: 70px;
    background-image: url("./images/img-2.png");
    background-position: 50px -2px;
    background-repeat: no-repeat;
    background-size: 19px 19px;
    border: 1px solid #727272;
    padding: 2px;
    color: #1041a0
}